@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'San Francisco Pro Regular';
	src: url('/fonts/SFProDisplay-Regular.woff2') format('woff2'); /* Modern Browsers */
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

body {
	@apply font-sf dark:text-white dark:bg-black;
	transition: all 1s ease-in-out;
}
